<Directorydiv class-"home-container">
  <h1>Tentative QuaranTeam</h1>

  <div>
    <strong>Minister of Computer</strong> Alexander Profeit
  </div>
  <div>
    <strong>Minister of Injustice</strong> Dorina Rusu
  </div>
  <div>
    <strong>Minister of Super Injustice</strong> Celina friend of Profeit
  </div>
  <div>
    <strong>Minister of War</strong> Yannis Fotiadis
  </div>
  <div>
    <strong>Minister of Sirens</strong> Emily A-b
  </div>
  <div>
    <strong>Minister of Dirt</strong> Jeff Houlton
  </div>
  <div>
    <strong>Minister of Fluids</strong> Sheldon O'Neill
  </div>
  <div>
    <strong>Minister of Fittin' Dis</strong> Derek Pawsey
  </div>
  <div>
    <strong>Minister of Killing Parties</strong> Renée
  </div>
  <div>
    <strong>Director of Sexual Miseducation</strong> Sheldon O'Neill
  </div>
  <div>
    <strong>Benevolent Dictator</strong> Steph Melo
  </div>
</div>
