<h1 class="mt-4">QuaranTeam</h1>

<% @positions.each do |position| %>
  <div class="card mt-4 mb-4">
    <div class="card-body">
      <h5 class="card-title"><%= position[:position] %></h5>
      <h6 class="card-subtitle mb-2 text-muted">Leader</h6>
      <p class="card-text"><%= position [:leader] %></p>
      <% if position[:deputy] %>
        <h6 class="card-subtitle mb-2 text-muted">Deputy</h6>
        <p class="card-text"><%= position[:deputy] %></p>
      <% end %>
    </div>
  </div>
<% end %>

<hr class="mt-5 mb-5" />

<div class="mt-4 mb-4">
  <h2>Movie/TV Requests for Minister of Computer</h2>
  <a class="btn btn-primary mt-3" target="_blank" href="https://docs.google.com/spreadsheets/d/1tZQzbWX7-WxOcgEYN3YqFXa8tSNpYr9oHEK-O4ACGlk/edit?usp=sharing">Requests</a>
</div>
