<h1 class="mt-4">QuaranTeam</h1>

<hr />

<div class="mb-4">
  <a class="btn btn-primary mt-2" target="_blank" href="https://forms.gle/xHfspeCYAvgTCyPp7">Plex Request Form</a>
</div>

<hr />

<% @positions.each do |position| %>
  <div class="card mt-4 mb-4">
    <div class="card-body">
      <h5 class="card-title"><%= position[:position] %></h5>
      <h6 class="card-subtitle mb-2 text-muted">Leader</h6>
      <p class="card-text"><%= position [:leader] %></p>
      <% if position[:deputy] %>
        <h6 class="card-subtitle mb-2 text-muted">Deputy</h6>
        <p class="card-text"><%= position[:deputy] %></p>
      <% end %>
    </div>
  </div>
<% end %>
