<style>
  iframe {
    margin-top: 40px;
  }
</style>
<h1 style="margin: 30px 20px;">Thanks for voting! You look great today by the way.</h1>
<center>
<iframe src="https://giphy.com/embed/GCvktC0KFy9l6" width="450" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/GCvktC0KFy9l6"><span style="visibility: hidden">via GIPHY</span></a></p>
</center>
